.products {
  @import "./aside_filter";
  @import "./product_single";
  @import "./product_item";
  .products__tabe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
