.products {
  .products__tabe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .product__item {
    .product__item-image {
      position: relative;
      &:hover {
        .over-content .view {
          transform: translate(0, 0);
          opacity: 1;
        }
        .over-content .actions {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
      .over-content {
        position: absolute;
        inset: 15px;
        .view {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(20px, -20px);
          opacity: 0;
          transition: 0.2s;
        }
        .actions {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(20px, 20px);
          opacity: 0;
          transition: 0.2s;
        }
      }
    }
    .product__item-content {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .item-price {
        .money {
          font-size: 17px;
          line-height: 17px;
        }
        .sale {
          color: $px-gray;
          text-decoration: line-through;
          margin-right: 8px;
        }
      }
      .item-sizeOption,
      .item-colorOption {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        input {
          appearance: none;
          padding: 2px;
          border: 1px solid rgba($px-dark, 0.3);
          transition: 0.1s;
          cursor: pointer;
          &:checked {
            border: 1px solid $px-black;
          }
        }
      }
      .item-colorOption {
        input {
          border-radius: 50%;
          width: 20px;
          background-clip: content-box;
          height: 20px;
        }
      }
      .item-sizeOption {
        input {
          position: relative;
          width: auto;
          height: 25px;
          line-height: 20px;
          &::after {
            content: attr(data-value);
            text-transform: uppercase;
            padding: 0 4px  ;
          }
          &:checked {
            border: 1px solid $px-black;
            background-color: $px-dark;
            color: $px-white;
          }
        }
      }
    }
  }
}
