@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap');

// $px-theme: #ff9301 !default;

$px-white: #fff;
$px-light: #F4F4F4;
$px-light-2: #e5e5e5;

$px-black: #000;
$px-dark: #141414;

$px-gray: #858585;

$px-mainPadding: 50px;




// $px-bg-1: #10101a;
// $px-bg-2: #0e0e17;
// $px-bg-3: #0c0c14;



// $px-body: rgba(255, 255, 255, 0.8);
// $px-body-light: #555;
$px-font-size: 15px;
$px-line-height: 1.5;
$px-font: 'cairo', sans-serif;



// Breakpoints
$px-media-xsm: 567px;
$px-media-sm: 767px;
$px-media-md: 991px;
$px-media-lg: 1200px;
