.forget-password-form,
.login-form,
.register-form {
  form {
    max-width: 400px;
    margin: auto;
    .form-group {
      position: relative;
      .valid-feedback,
      .invalid-feedback {
        position: absolute;
        top: 0;
        left: 10px;
        transform: translateY(-50%);
        width: max-content;
        background: $px-white;
        margin: 0;
        padding: 0 10px;
      }
    }
    .sign-with {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: $px-dark;
        border-radius: 0;
        border: 1px solid rgba($px-dark, 0.3);
        color: $px-light;
        transition: all 0.2s;
        &:hover {
          border: 1px solid rgba($px-dark, 0.3);
          background-color: transparent;
        }
      }
    }
  }
}
