body {
  background: $px-white;
  color: $px-dark;
  font-family: $px-font;
  line-height: $px-line-height;
  font-size: $px-font-size;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  direction: rtl;
  text-align: right;
}
* {
  outline: none !important;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  transition: 0.2s;
  @include px-hover {
    color: $px-gray !important;
    text-decoration: none;
  }
}
a {
  text-decoration: none;
}
button,
a {
  cursor: pointer !important;
}
.link {
  text-decoration: underline !important;
}
.icon {
  font-size: 18px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}
.h1,
h1 {
  font-size: 44px;
  line-height: 65px;
}
.h2,
h2 {
  font-size: 32px;
}
.h3,
h3 {
  font-size: 24px;
}
.h4,
h4 {
  font-size: 18px;
}
.h5,
h5 {
  font-size: 15px;
}
.h6,
h6,
ol,
ul {
  font-size: 14px;
}
p {
  line-height: 1.8;
}
.overlay {
  position: relative;
  > div {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($px-black, 0.5);
    z-index: 1;
  }
}
textarea {
  resize: none;
}
.no-transition {
  transition: none;
}
.italic {
  font-style: italic;
}
.text-small {
  font-size: 13px;
}
.main-padding {
  padding: $px-mainPadding 0;
}
.main-padding-top {
  padding-top: $px-mainPadding;
}
.main-padding-bottom {
  padding-bottom: $px-mainPadding;
}
.spinner-border {
  width: 13px;
  height: 13px;
}
.spliter {
  border-top: 1px solid $px-light;
  &.gray {
    border-color: rgba($px-dark, 0.09);
  }
  &.light {
    border-color: rgba($px-light, 0.09);
  }
  &.light-2 {
    border-color: $px-light-2;
  }
}
.bg-white {
  background-color: $px-white;
}
.bg-light {
  background-color: $px-light;
}
.bg-light-2 {
  background-color: $px-light-2;
}
.bg-black {
  background-color: $px-black;
}
.bg-dark {
  background-color: $px-dark;
}
.bg-gray {
  background-color: $px-gray;
}

.c-black {
  color: $px-black;
}
.c-dark {
  color: $px-dark;
}
.c-white {
  color: $px-white;
}
.c-light {
  color: $px-light;
}
.c-gray {
  color: $px-gray;
}

.weight-100 {
  font-weight: 100;
}
.weight-200 {
  font-weight: 200;
}
.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
.weight-800 {
  font-weight: 800;
}
.weight-900 {
  font-weight: 900;
}

.r-gap-10 {
  row-gap: 10px;
}
.r-gap-20 {
  row-gap: 20px;
}
.r-gap-30 {
  row-gap: 30px;
}
.r-gap-40 {
  row-gap: 40px;
}
.r-gap-50 {
  row-gap: 50px;
}
.r-gap-60 {
  row-gap: 60px;
}
.r-gap-70 {
  row-gap: 70px;
}
.r-gap-80 {
  row-gap: 80px;
}
.r-gap-90 {
  row-gap: 90px;
}
.r-gap-100 {
  row-gap: 100px;
}
.c-gap-10 {
  column-gap: 10px;
}
.c-gap-20 {
  column-gap: 20px;
}
.c-gap-30 {
  column-gap: 30px;
}
.c-gap-40 {
  column-gap: 40px;
}
.c-gap-50 {
  column-gap: 50px;
}
.c-gap-60 {
  column-gap: 60px;
}
.c-gap-70 {
  column-gap: 70px;
}
.c-gap-80 {
  column-gap: 80px;
}
.c-gap-90 {
  column-gap: 90px;
}
.c-gap-100 {
  column-gap: 100px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-50 {
  gap: 50px;
}
.gap-60 {
  gap: 60px;
}
.gap-70 {
  gap: 70px;
}
.gap-80 {
  gap: 80px;
}
.gap-90 {
  gap: 90px;
}
.gap-100 {
  gap: 100px;
}

.banner {
  position: relative;
  .banner-content {
    position: absolute;
    inset: 0;
  }
}

[data-title-down],
[data-title-top],
[data-title-left],
[data-title-right] {
  position: relative;
  &::after,
  &::before {
    pointer-events: none;
    z-index: 9999;
    position: absolute;
    background-color: $px-dark;
    opacity: 0;
    transition: all 0.1s ease;
  }
  &::after {
    width: max-content;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 12px;
    color: $px-light;
    font-style: italic;
    text-transform: capitalize;
  }
  &::before {
    content: '';
    width: 4px;
    height: 4px;
  }
}
[data-title-top] {
  &:after {
    content: attr(data-title-top);
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%) scale(0.5, 0.5);
    transform-origin: bottom center;
  }
  &:hover:after {
    transform: translateX(-50%);
    opacity: 1;
  }
  &:before {
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  &:hover:before {
    opacity: 1;
  }
}
[data-title-down] {
  &:after {
    content: attr(data-title-down);
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%) scale(0.5, 0.5);
    transform-origin: top center;
  }
  &:hover:after {
    transform: translateX(-50%);
    opacity: 1;
  }
  &:before {
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  &:hover:before {
    opacity: 1;
  }
}
[data-title-left] {
  &::after {
    content: attr(data-title-left);
    right: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%) scale(0.5, 0.5);
    transform-origin: right;
  }
  &:hover:after {
    transform: translateY(-50%) scale(1, 1);
    opacity: 1;
  }
  &:before {
    top: 50%;
    right: calc(100% + 4px);
    transform: translateY(-50%) translateX(-8px) rotate(45deg);
  }
  &:hover:before {
    opacity: 1;
    transform: translateY(-50%) rotate(45deg);
  }
}
[data-title-right] {
  &::after {
    content: attr(data-title-right);
    left: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%) scale(0.5, 0.5);
    transform-origin: left;
  }
  &:hover:after {
    transform: translateY(-50%) scale(1, 1);
    opacity: 1;
  }
  &:before {
    top: 50%;
    left: calc(100% + 4px);
    transform: translateY(-50%) translateX(8px) rotate(45deg);
  }
  &:hover:before {
    opacity: 1;
    transform: translateY(-50%) rotate(45deg);
  }
}
.modal {
  .modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .icon {
      font-size: 22px;
      line-height: 22px;
      cursor: pointer;
    }
  }
  .modal-footer {
    justify-content: flex-start;
    & > * {
      margin: 0;
    }
  }
}
.badge {
  height: 23px;
  line-height: 19px;
  font-size: 13px;
  padding: 2px 6px;
  color: $px-light;
  white-space: nowrap !important;
  border-radius: 0;
  text-transform: capitalize;
  font-weight: 400;
  background-color: $px-dark !important;
  &.badge-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: $px-white !important;
    color: $px-dark;
    cursor: pointer;
    transition: 0.2s;
    .icon {
      transition: none;
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.fivestars {
  .icon {
    font-size: 0.88rem;
    &.fill {
      color: #fdbc00;
    }
    &.empty {
      color: $px-gray;
    }
  }
}

.swiper__control {
  span {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    color: $px-dark;
    opacity: 0.3;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    &:hover {
      opacity: 1;
    }
    &.prev {
      left: 0;
      padding-right: 10px;
    }
    &.next {
      right: 0;
      padding-left: 10px;
    }
    .icon {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.swiper-pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  .swiper-pagination-bullet {
    cursor: pointer;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba($px-gray, 0.3);
    &.swiper-pagination-bullet-active {
      background-color: $px-dark;
    }
  }
}

@include media-breakpoint-only(xl) {
  .container {
    max-width: 1250px;
  }
}

.social-media {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      transition: all 0.2s;
      color: $px-light !important;
      &:hover {
        background-color: $px-gray;
      }
    }
  }
  &.dark {
    li a {
      color: $px-dark !important;
      &:hover {
        background-color: $px-light-2;
      }
    }
  }
}

.slideup-enter {
  opacity: 0;
  transform: translateY(-20px);
  display: block;
}
.slideup-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.2s;
  pointer-events: none;
}
.slideup-enter-done {
  display: block;
  pointer-events: all;
}
.slideup-exit {
  opacity: 1;
  display: block;
}
.slideup-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.2s;
  pointer-events: none;
}
.slideup-exit-done {
  display: none;
  pointer-events: all;
}

.slideleft-enter {
  opacity: 0;
  transform: translateX(-20px);
  display: block;
}
.slideleft-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s;
  pointer-events: none;
}
.slideleft-enter-done {
  display: block;
  pointer-events: all;
}
.slideleft-exit {
  opacity: 1;
  display: block;
}
.slideleft-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.4s;
  pointer-events: none;
}
.slideleft-exit-done {
  display: none;
  pointer-events: all;
}

.slideright-enter {
  opacity: 0;
  transform: translateX(20px);
  display: block;
}
.slideright-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s;
  pointer-events: none;
}
.slideright-enter-done {
  display: block;
  pointer-events: all;
}
.slideright-exit {
  opacity: 1;
  display: block;
}
.slideright-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.4s;
  pointer-events: none;
}
.slideright-exit-done {
  display: none;
  pointer-events: all;
}

span.stock {
  .icon {
    font-size: 1em;
    cursor: auto;
  }
  span.in-stock {
    color: #28a745;
  }
  span.out-stock {
    color: #dc3545;
  }
}
