.blogs {
  position: relative;
  padding: 0 30px;
  .blog-item {
    @include down-md {
      flex-wrap: wrap;
    }
    .blog__item-image {
      flex-basis: 60%;
      @include down-md {
        flex-basis: 100%;
      }
    }
    .blog__item-content {
      flex-basis: 40%;
      @include down-md {
        flex-basis: 100%;
      }
    }
  }
}
