.input__classic {
  position: relative;
  background-color: $px-white !important;
  border-radius: 0;
  border: 1px solid $px-light-2;
  padding: 20px 15px;
  font-size: 15px;
  line-height: 15px;
  box-shadow: none !important;
  outline: none !important;
  &:focus {
    border-color: $px-dark;
  }
  &::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 14px;
  }
}